%h1 Listing pools

%ul
  -@pools.each do |pool|
    %li
      = link_to pool.title, pool
      = link_to 'Show', pool
      = link_to 'Edit', edit_pool_path(pool)
      = link_to 'Destroy', pool, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

%p= link_to 'New Pool', new_pool_path, class: "btn btn-primary"