= form_for [@pool, @tracker] do |f|
  - if @tracker.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tracker.errors.count, "error")} prohibited this tracker from being saved:"
      %ul
        - @tracker.errors.full_messages.each do |msg|
          %li= msg

  %p
    = f.label :title
    = f.text_field :title, class: "form-control"
  %p
  .radio
    -@kind_options.each do |option|
      %label
        =f.radio_button :kind, option[1]
        =option[0]

  %p
    = f.submit 'Save', class: "btn btn-default"
