%h1 Listing trackers

%table
  %thead
    %tr
      %th Title
      %th Kind
      %th Pool
      %th
      %th
      %th

  %tbody
    - @trackers.each do |tracker|
      %tr
        %td= tracker.title
        %td= tracker.kind
        %td= tracker.pool
        %td= link_to 'Show', [@pool, tracker]
        %td= link_to 'Edit', edit_pool_tracker_path(@pool,tracker)
        %td= link_to 'Destroy', [@pool,tracker] , :method => :delete, :data => { :confirm => 'Are you sure?' }


